* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif, sans-serif;
    background-color:dimgray;

    display: flex;
    justify-content: center;
    align-items: center;

    min-height: 100vh;
}

.product-card {
    width: 320px;
    background-color: white;

    border-radius: 12px;
    overflow: hidden;

    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);

    transition: 0.3s;
}

.product-card:hover {
    transform: translateY(-8px);
}

.product-card img {
    width: 100%;
    height: 220px;
    object-fit: cover;
}

.product-info {
    padding: 20px;
}

.product-info h2 {
    margin-bottom: 10px;
}

.description {
    color: #c20202;
    line-height: 1.5;
    margin-bottom: 15px;
}

.price {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 15px;
}

button {
    width: 100%;
    padding: 12px;

    background-color: black;
    color: white;

    border: none;
    border-radius: 6px;

    cursor: pointer;
}

button:hover {
    background-color: #ffe2e2;
}